################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.gitattributes
/.vs/AuthenticationUserApi/FileContentIndex/15fbc69e-5fdf-426e-b40d-a38370c6c55e.vsidx
/.vs/AuthenticationUserApi/FileContentIndex/18a82142-4a53-48eb-8f97-374d09f2b65f.vsidx
/.vs/AuthenticationUserApi/FileContentIndex/e4dd4b34-2829-4805-a891-89370b370ea9.vsidx
/.vs/AuthenticationUserApi/v17/.suo
/.vs/AuthenticationUserApi/v17/DocumentLayout.backup.json
/.vs/AuthenticationUserApi/v17/DocumentLayout.json
/obj/Debug/net9.0/AuthenticationUserApi.AssemblyInfoInputs.cache
/obj/Debug/net9.0/AuthenticationUserApi.assets.cache
/.vs/AuthenticationUserApi/FileContentIndex/b826c18a-31ca-4d95-935a-dded64c3d5ad.vsidx
